.container {
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 28px 21px;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  flex-direction: column;
  gap: 14px;
}

.container input,
.container textarea,
.container select,
.container button {
  width: 100%; /* Keeps full-width for all fields */
  padding: 1px;
  font-size: 12px;
  resize: vertical; /* Allow resizing for textarea */
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  background-color: white; /* Keep consistent background color */
  color: black;
}

.container textarea {
  min-height: 50px; /* Default size for the textarea */
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
  text-align: center; /* Center-align labels */
}

.container button {
  color: white;
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: var(--primary);
}
