.container {
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 28px 21px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}

.container form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: left;
}

.container input,
.container textarea,
.container select,
.container button {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 0 0 20px 0;
  border: 1px solid var(--border);
  background-color: white;
  color: black;
}

.container textarea {
  min-height: 100px;
}

.container label {
  font-weight: 600;
  margin-bottom: 8px;
  text-align: left;
  display: block;
}

.container button {
  color: white;
  font-weight: 600;
  margin-top: 10px;
  background: var(--primary);
  font-size: 14px;
  padding: 12px;
  cursor: pointer;
}

.container button:hover {
  opacity: 0.9;
}